@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
  color: var(--text-color);
}

/* Navbar */

.nav-bar {
  padding: 1rem 2rem;
  background-color: var(--white);
}

/* Hero Section */

.hero {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 500px;
  background-color: #c4b5fb78;
}

.hero-img img {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  object-fit: cover;
  opacity: 0.3;
  height: 100%;
}

.hero-content {
  font-size: 2.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  text-align: center;
  margin: auto;
  padding: 1rem;
  max-width: 700px;
  height: 100%;
}

.primary {
  color: var(--primary-color);
}

/* Category */

.main-category,
.featured-category {
  margin: 2rem;
}

.main-category .heading-2,
.featured-category .heading-2 {
  font-size: var(--heading-2);
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
}

.category-grid,
.featured-grid {
  place-items: center;
  gap: 1rem;
}

.category-container {
  position: relative;
}

.category-container img {
  opacity: 0.5;
  object-fit: cover;
  border-radius: var(--border-radius);
}

.overlay-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  background-color: var(--primary-color);
  color: var(--white);
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}

/* Featured */

.basic-card {
  max-width: inherit;
  margin: 0;
}

.featured-grid img {
  max-width: 50%;
}

.featured-grid .card-heading {
  padding: 0.75rem;
}

.featured-grid button {
  margin-top: 0.5rem;
  padding: 0.25rem;
  font-size: 1rem;
  width: 100%;
}

.featured-grid .card-bdg {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0.5rem;
  letter-spacing: 3px;
}

.featured-grid .card-content {
  display: block;
  padding: 0.5rem 0;
}

/* Footer */

footer {
  display: flex;
  align-items: center;
  padding: 0.75rem 2rem;
  background-color: var(--bg-secondary);
}

footer .author {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--text-secondary);
}

footer .social-icons {
  margin-left: auto;
}

.social-icons i {
  margin-left: 1rem;
  font-size: 1.2rem;
  color: var(--text-secondary);
}

/* MEDIA QUERIES */

@media screen and (max-width: 700px) {
  .nav-bar .nav-search {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .nav-bar .nav-action .icon {
    display: none;
  }

  .category-grid,
  .featured-grid {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 480px) {
  .hero-content {
    font-size: 2rem;
  }

  .hero-content button {
    font-size: 1rem;
  }

  .card-wrapper .row {
    flex-direction: column;
  }
  .featured-grid img {
    max-width: 100%;
    width: 100%;
  }
}
